:root {
  color-scheme: dark;
}
html {
  height: 100%;
}
body {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
  background: #0b1020;
  color: #e5e7eb;
  margin: 0;
  font-size: 14px;
  height: 100vh;
  overflow: hidden;
}
h1 {
  font-size: 18px;
  margin: 0 0 10px;
}
